.viewMail {
    width: 60%;
    height: 100%;
    float: left;
    background-color: #EEF4F9;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 40%;
    bottom: 0;
    right: 0;
    box-shadow: inset 5px 0px 48px -19px rgba(0, 0, 0, 0.75);
  }